%h1= @job.title
%p 
	%strong By: 
	=@job.user.email
%p 
	%strong Company: 
	= link_to @job.company, @job.url

%p= @job.description

=link_to "Home", root_path, class: "btn btn-primary"

- if current_user == @job.user
	=link_to "Edit", edit_job_path(@job), class: "btn btn-default"
	=link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"